.max-w-screen-sm.mx-auto.mt-16
  = form_with model: @user, url: signup_path, method: :post, class: 'flex flex-col' do |form|
    - if flash[:alert]
      .p-2.rounded-md.text-xs.mb-4.text-black{class: 'bg-alert'}
        = flash[:alert]
    = form.label :user_name, class: 'text-xs text-secondaryText w-full'
    = form.text_field :user_name, class: 'p-2 px-3 border border-border rounded-md bg-active text-xs text-primaryText mb-4 mt-1 placeholder-tertiaryText', placeholder: 'cool_user123', required: true

    = form.label :email, class: 'text-xs text-secondaryText w-full'
    = form.email_field :email, class: 'p-2 px-3 border border-border rounded-md bg-active text-xs text-primaryText mb-4 mt-1 placeholder-tertiaryText', placeholder: 'some@email.domain', required: true

    = form.label :password, class: 'text-xs text-secondaryText w-full'
    = form.password_field :password, class: 'p-2 px-3 border border-border rounded-md bg-active text-xs text-primaryText mb-4 mt-1 placeholder-tertiaryText', placeholder: 's0m3ComPLicAted!passW0rd', required: true

    = form.label :password_confirmation, class: 'text-xs text-secondaryText'
    = form.password_field :password_confirmation, class: 'p-2 w-full px-3 border border-border rounded-md bg-active text-xs text-primaryText mb-4 mt-1 placeholder-tertiaryText', placeholder: 's0m3ComPLicAted!passW0rd', required: true

    = form.submit 'sign up', class: 'text-tertiaryText bg-active text-xs border border-border px-4 py-2 rounded-md hover:bg-active/90 cursor-pointer ml-auto'

    %p.text-xs.text-tertiaryText.mt-2
      Already have an account?
      = link_to 'sign in', signin_path, class: 'text-xs text-tertiaryText mt-2 cursor-pointer hover:text-red-300'