.w-full.flex.items.center.justify-center.max-w-screen-md.mx-auto.p-6
  .text-sm.flex.w-full.items-center.justify-between.gap-2
    - if Current.user
      .w-32.h-6
    - else
      .w-16.h-6
    .flex.items-center.gap-2.mx-auto
      = active_link_to 'home', root_path, class: 'text-tertiaryText hover:text-primaryText', class_active: '!text-primaryText', active: :exclusive
      %span /
      = active_link_to 'todos', todos_path(view: 'all'), class: 'text-tertiaryText hover:text-primaryText', class_active: '!text-primaryText', active: /#{todos_path(view:"all")}|#{todos_path(view:"create")}/
    - if Current.user
      .w-16.flex.gap-1.justify-end
        = button_to 'log out', logout_path, method: :delete, class: 'text-tertiaryText cursor-pointer hover:text-red-400'
        %span /
    - else
      .w-16.flex.gap-1.justify-end
        = active_link_to 'sign in', signin_path, class: 'text-tertiaryText hover:text-primaryText', class_active: 'text-gray-400', active: /#{signin_path}|#{signup_path}/
        %span /


    - if Current.user
      = image_tag "https://ui-avatars.com/api/?name=#{Current.user[:user_name]}&size=32&background=random", class: "w-6 h-6 rounded-full"