.w-full.flex.max-w-screen-sm.mx-auto.p-2.my-12.flex-col.space-y-4
  .flex.gap-2.justify-end
    = active_link_to 'all', todos_path(view:"all"), class: 'text-xs text-tertiaryText rounded-md hover:text-primaryText cursor-pointer', class_active: '!text-primaryText', active: :exclusive
    = active_link_to 'create', todos_path(view:"create"), class: 'text-xs text-tertiaryText rounded-md hover:text-primaryText cursor-pointer', class_active: '!text-primaryText', active: :exclusive

  -if is_active_link?(todos_path(view:"all"), :exclusive)
    = form_with url: todos_path, method: :get, local: true do |form|
      = form.text_field :search, id: 'todo-search', class: 'w-full p-2 px-3 border border-border rounded-md bg-active text-xs text-primaryText placeholder-tertiaryText', placeholder: '+ search or add todos', onchange: 'this.form.submit()'


  - if params[:view] == 'create'
    = render 'create_todo'
  - else
    - if @todos.present? && @todos.any? && @todos.select(&:not_started?).any?
      = render 'todo_list', todos: @todos.select(&:not_started?)
    - else
      - if params[:search].blank?
        = render 'no_todos'
  - if @todos.present? && @todos.select(&:completed?).any?
    = render 'complete', todos: @todos.select(&:completed?)
    .w-full.border.border-border.h-3.rounded-sm.flex.items-center
      .bg-emerald-400.h-2.rounded-sm{style: "width: #{((@todos.select(&:completed?).count.to_f / @todos.count.to_f) * 100).to_i}%"}
    - if @todos.select(&:completed?).count == @todos.count
      .text-center.text-xs.text-secondaryText.mt-2 All todos are completed! 🎉🎉🎉